@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Party! </title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div class="text-center">
        <div>
            <h3>We're going to have an exciting party.</h3> 
            <h4> And YOU Are Invited ! ! ! </h4>
        </div>
    </div>
    <div class="text-center">
        <a asp-action="RsvpForm" class="btn-sm btn-danger">RSVP Form</a>
    </div>

</body>
</html>
